<ion-header>
  <ion-navbar color="secondary">
    <ion-buttons start>
      <button ion-button icon-only (click)="newUser()">
        <ion-icon name="person-add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Whats Snaps Grams</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onOrdernar()">
        <ion-icon [name]="!ordernar?'reorder':'close'"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-searchbar #si
  [animated]="true"
  [showCancelButton]="false" 
  [cancelButtonText]="Cancelar" 
  placeholder="Buscar contato..."
  color="light"  
  *ngIf="buscar" 
  (input)="getItems($event)" 
  (ionCancel)="onCancel($event);buscar=false"
  (ionClear)="onCancel($event);buscar=false">
  </ion-searchbar>

  <ion-list *ngIf="arquivados.length!=0">
    <ion-list-header>
      Arquivados
    </ion-list-header>
    <ion-item-group [reorder]="ordernar" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding #slidingItem *ngFor="let user of arquivados">
        <ion-item>
          <ion-avatar item-left>
            <img [src]="user.avatar">
          </ion-avatar>
          {{user.name}}
          <p>{{user.fullname}}</p>
          <ion-badge item-right>{{user.id}}</ion-badge>
        </ion-item>
        <ion-item-options side="left" (ionSwipe)="arquivarUser(slidingItem, user)">
          <button ion-button color="light" expandable (click)="arquivarUser(slidingItem, user)">
            <ion-icon name="archive"></ion-icon>
            Restaurar
          </button>
          <button ion-button color="primary" (click)="editUser(slidingItem, user)">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
        </ion-item-options>
        <ion-item-options side="right" (ionSwipe)="deleteItem(slidingItem, user)">
          <button ion-button color="danger" expandable (click)="deleteItem(slidingItem, user)">
            <ion-icon name="trash"></ion-icon>
            Apagar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="users.length!=0">
    <ion-list-header>
    Contatos
    </ion-list-header>
    <ion-item-group [reorder]="ordernar" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding #slidingItem *ngFor="let user of users">
        <ion-item>
          <ion-avatar item-left>
            <img [src]="user.avatar">
          </ion-avatar>
          {{user.name}}
          <p>{{user.fullname}}</p>
          <ion-badge item-right>{{user.id}}</ion-badge>
        </ion-item>
        <ion-item-options side="left" (ionSwipe)="arquivarUser(slidingItem, user)">
          <button ion-button color="light" expandable (click)="arquivarUser(slidingItem, user)">
            <ion-icon name="archive"></ion-icon>
            Arquivar
          </button>
          <button ion-button color="primary" (click)="editUser(slidingItem, user)">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
        </ion-item-options>
        <ion-item-options side="right" (ionSwipe)="deleteItem(slidingItem, user)">
          <button ion-button color="danger" expandable (click)="deleteItem(slidingItem, user)">
            <ion-icon name="trash"></ion-icon>
            Apagar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

</ion-content>
